.bottom-hover {
  position: relative;
  bottom: 70px;
  height: 70px;
  left: 0px;
  background: rgba(0, 0, 0, 0.4);
  color: #f8f8ff;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  padding: 3px;
  padding-left: 30px;
}

.photoCont:hover > .bottom-hover {
  bottom: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.8);
}

.photoCont:hover .photoLbl {
  visibility: visible;
}

.photoLbl {
  visibility: hidden;
}

.bottom-hover-1 {
  position: relative;
  bottom: 200px;
  height: 150px;
  left: 0px;
  background-color: black;
  opacity: 50%;
  color: whitesmoke;
  font-size: 22px;
  display: flex;
  padding: 10px;
  padding-left: 50px;
  opacity: 0%;
}

.bottom-hover-1:hover {
  opacity: 100%;
}

.btnDis {
  background: linear-gradient(#303030, #202020);
  width: 140px;
  height: 40px;
  font-family: MBCorpo Text, DaimlerCS-Regular, Helvetica, Arial, sans-serif;
}
